/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

#main-window {
    padding:10px;
    background-color: gray
}

#selected-file {
    border-width: thin;
    width: 85vw
}

#open-folder {
    position: absolute;
    right: 10px;
}

#messages-summary-select {
    width: fit-content;
}

#log-area {
    width:100%;
    height:100%;
    border-color: black;
    resize:none;
    background-color: lightgray
}

#footer-text {
    text-align: right;
}

.window-content {
    flex-direction: column;
}

.no-border {
    border: none;
    border-radius: 0px;
}

.top-border {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
}

.bottom-border {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}

.align-center {
    vertical-align: middle;
}

[disabled] {
    color: gray;
}